<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1 style="text-align:center">
    Welcome to {{title}}!
  </h1>
  <div class="col-sm-8 col-sm-offset-2" style="border:1px solid black">
    <p>Get latitude, longitude values from entered address</p>
    <div class="col-sm-6">
      <input type="text" placeholder="address" name="name" [(ngModel)]="address" />
    </div>
    <div class="col-sm-3">
      <button  class="btn btn-success" (click)="getLaLng()">Get lat long</button>
    </div>
    <div class="col-sm-3"> 
      <p>latitude:{{latitude}}</p><p>longitude:{{longitude}}</p>
    </div>
  </div>
  <div class="col-sm-8 col-sm-offset-2" style="border:1px solid black">
    <div class="col-sm-12">
      <div class="col-sm-12"><h3>Source</h3></div>
      <div class="col-sm-6">
        <p>Enter Latitude</p>
          <input type="text" name="" [(ngModel)]="sourceLat">
      </div>
      <div class="col-sm-6">
        <p>Enter longitude</p>
          <input class="form-control" type="text" name="" [(ngModel)]="sourceLong">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-12"><h3>Destination</h3></div>
      <div class="col-sm-6">
        <p>Enter Latitude</p>
          <input class="form-control" type="text" name="" [(ngModel)]="destinationLat">
      </div>
      <div class="col-sm-6">
        <p>Enter longitude</p>
          <input class="form-control" type="text" name="" [(ngModel)]="destinationLong">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-12"><h3>Time</h3></div>
      <div class="col-sm-6">
        <p>Enter Time of reaching the destination</p>
          <span> Hr:<select class="form-control" type="number" [(ngModel)]="reachingTimeHr">
            <option *ngFor="let hr of hours" [ngValue]="hr.key">{{hr.value}}</option>
          </select></span>
          <span>Min:
          <select class="form-control" type="number" [(ngModel)]="reachingTimeMin">
            <option *ngFor="let min of minutes" [ngValue]="min">{{min}}</option>
          </select></span>
      </div>
      <div class="col-sm-6">
       <br><p></p>
         <button class="btn btn-success" (click)="uberDetails()">Get GoogleTime</button>
      </div>
    </div>
    <div class="col-sm-12">
    <p style="color:red">Time left for calling Cab: {{timeLeftToCallCab}} mins</p>
    </div>
    
  </div>
</div>
